<mat-card>
  @if (hasSelected()) {
    <!-- PRODUCT DETAILS VIEW -->
    <mat-card-title align="center" style="margin:1rem">Product Details</mat-card-title>
    <mat-card-content>
      <app-product-details
        [vendors]="vendors()"
        [product]="productInDetail()!"
        [isNewProduct]="newProduct()"
        (saved)="save($event)"
        (deleted)="delete($event)"
        (closed)="closeDetails()"
        [existingIds]="productIds()"
      />
    </mat-card-content>
  } @else {
    <!-- PRODUCT LIST VIEW -->
    <mat-card-title align="center" style="margin:1rem">Products</mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="productsTable" class="mat-elevation-z2">

        <!-- Header -->
        <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>

        <!-- Rows -->
        <tr mat-row *matRowDef="let p; columns: tableColumns" (click)="selectProduct(p)"></tr>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>
            <div align="center">ID</div>
          </th>
          <td mat-cell *matCellDef="let p">
            <div align="center">{{ p.id }}</div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <div align="center">Name</div>
          </th>
          <td mat-cell *matCellDef="let p">
            <div align="center">{{ p.name }}</div>
          </td>
        </ng-container>

        <!-- Vendor Column -->
        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef>
            <div align="center">Vendor</div>
          </th>
          <td mat-cell *matCellDef="let p">
            <div align="center">{{ vendorName(p.vendorId) }}</div>
          </td>
        </ng-container>
      </table>
    </mat-card-content>
  }
</mat-card>

<!-- ADD NEW PRODUCT ICON -->
@if (!hasSelected()) {
  <mat-icon
    (click)="addNew()"
    matTooltip="Add New Product"
    class="addicon"
    color="primary">
    control_point
  </mat-icon>
}
