<mat-card>
  @if (hasSelectedProduct()) {
    <mat-card-title align="center" style="margin: 1rem">
      {{ newProduct() ? 'New Product' : 'Product Details' }}
    </mat-card-title>
    <mat-card-content>
      <app-product-details
        [vendors]="vendors()"
        [product]="productInDetail()"
        (saved)="saveProduct($event)"
        (deleted)="deleteProduct($event)"
        (closed)="refresh()"
      ></app-product-details>
    </mat-card-content>
  } @else {
    <mat-card-title align="center" style="margin: 1rem">
      Products
    </mat-card-title>
    <mat-card-content>
      <table mat-table [dataSource]="productsTable">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let product">{{ product.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let product">{{ product.name }}</td>
        </ng-container>

        <!-- Vendor Column -->
        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef>Vendor</th>
          <td mat-cell *matCellDef="let product">
            {{ VendorOfId(product.VendorOfId)?.name ?? 'N/A' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr
          mat-row
          *matRowDef="let product; columns: tableColumns"
          (click)="selectProduct(product)"
        ></tr>
      </table>
    </mat-card-content>
  }
</mat-card>

@if (!hasSelectedProduct()) {
  <mat-icon
    (click)="addNewProduct()"
    matTooltip="Add New Product"
    class="addicon"
    color="primary"
  >
    control_point
  </mat-icon>
}
