.section {
  margin: 1.5rem auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

mat-card {
  width: 80%;
  margin: 2rem auto;
  padding: 1.5rem;
}

button {
  font-weight: 600;
}
